*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.contenedor{
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: green;
    grid-template-columns: 20% 25% 55%;
    grid-template-rows: 40% 40% 20%;
    justify-content: stretch;
    justify-items: stretch;
    grid-auto-flow: row;
    grid-template-areas: 'enca enca enca'
                         'menu menu col2'
                         'col3 col3 col2'
                         'pie pie pie';
}
#enca{grid-area: enca;}
#col1{grid-area: col1;}
#col2{grid-area: col2;}
#col3{grid-area: col3;}
#menu{grid-area: menu;}
#pie{grid-area: pie;}


.caja{
    background-color: gold;
    text-align: center;
    border: 1px solid black;
}
